<div class="min-h-screen relative py-10 px-6 max-w-lg mx-auto flex flex-col gap-10">
  <ng-container *ngIf="viewModel() as vm">
    <div class="gap-4 flex flex-col">
      <ng-container *ngFor="let message of chat(); let last = last">
        <div
          [active]="last && !input.isFocused"
          [ngClass]="{
            'not-active-message': !last
          }"
          carriage
          class="whitespace-pre-wrap animate-fade-in-down {{ message.styles }}">{{ message.text }}</div>
      </ng-container>
    </div>

    <div [active]="input.isFocused" [carriage]="'center'">
      <div class="max-w-sm mx-auto flex items-center gap-4">
        <div class="relative">
          <label for="num">
            <input
              #input="isSelected"
              (keydown.enter)="onSubmit()"
              [container]="containerDir.container"
              [formControl]="numberControl"
              class="peer"
              id="num"
              isSelected
              placeholder="Your number here"
              type="text"
            />

            <span class="float-label peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs"> Your number here </span>
          </label>
          <ng-container #containerDir="validatorMessageContainer" validatorMessageContainer></ng-container>
        </div>

        <button
          (click)="onSubmit()"
          [disabled]="numberControl.invalid || vm.isLoading"
          type="submit"
        >
          submit
        </button>
      </div>
    </div>

    <ng-container *ngIf="vm.image as image">
      <div class="">
        <div *ngIf="image.url" class="rounded-2xl shadow-inner p-4 bg-neutral-200 border hover:border-sky-400 transition">
          <img
            class="rounded-xl"
            [src]="image.url"
            [height]="image.dimension?.height ?? 260"
            [width]="image.dimension?.width ?? 500"
            alt="The best image ever seen">
        </div>

        <div *ngIf="image.dimension as dimension" class="text-xs overflow-hidden whitespace-nowrap opacity-70 ml-2">{{ dimension.width }} x {{ dimension.height }}</div>
      </div>
    </ng-container>
  </ng-container>
</div>
